TOKEN=your_telegram_token
RM_HOST=127.0.0.1
RM_PORT=55555
RM_USER=your_user
RM_PASSWORD=your_pass
DB_USER=dbuser
DB_PASSWORD=dbpass
DB_HOST=db
DB_PORT=5432
DB_DATABASE=mydb
DB_REPL_USER=repluser
DB_REPL_PASSWORD=replpass
DB_REPL_HOST=replica_db
DB_REPL_PORT=5432
PG_HOST=localhost
PG_PORT=5432
PG_SLAVE_HOST=127.0.0.1
PG_SLAVE_PORT=5433
PG_DB=db_customers
PG_USER=postgres
PG_PASSWORD=a1b2c3d4
