TOKEN=your_telegram_token
RM_HOST=127.0.0.1
RM_PORT=55555
RM_USER=your_user
RM_PASSWORD=your_pass
DB_USER=dbuser
DB_PASSWORD=dbpass
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=mydb
PG_USER=postgres
PG_PASSWORD=your_pg_pass
